.list {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin-bottom: 50px;
	z-index: 2;
}
.btn {
	display: flex;
	font-size: 10px;
	padding: 5px;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	border-radius: 5px;
	background: none;
	color: #fff;
	&.active {
		background: #fff;
		color: #000;
	}
}
